
    <form action="/api/cookies/createCookie" method="post">
        <input type="text" name="nombre" id="">
        <input type="text" name="correo" id="">
        <input type="submit" value="Enviar">
    </form>
    <div>
        <a href="/getCookie">Obtenes Cookie</a>
    </div>

<!--  <script src="/js/index.js"></script>  -->