<div class="container">
    <h1>Home</h1>
</div>
<div class="container">
    <a href="/api/view/login">Login</a>
    <a href="/api/view/register">Register</a>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>