<div>
    <h1>Hola Nahuel</h1>
    <br>
    <a href="/api/sessions/current">Current Session</a>
    <br>
    <a href="/api/user/users">Todos los Usuarios</a>
    <br>
    <br>
    <a href="/api/user/logout">Logout</a>
</div>