<div>
    <h1>REGISTER</h1>
    <form action="/api/user/register" method="post">
        <label for="">Username/email:</label>
        <input type="text" name="email" id="">
        <label for="">Password:</label>
        <input type="password" name="password" id="">
        <label for="">Nombre:</label>
        <input type="text" name="first_name" id="">
        <label for="">Apellido:</label>
        <input type="text" name="last_name" id="">
        <label for="">Rol:</label>
        <input type="text" name="role" id="">
        <label for="">Edad:</label>
        <input type="number" name="age">
        <input type="submit" value="Enviar">
    </form>
</div>