<body>
    <div class="container">
        <h2 class="mt-4">Productos con Faker (lol)</h2>
        {{#if products.length}}
            <div class="card-deck">
                {{#each products}}
                    <div class="card" id="{{this.id}}">
                        <div class="card-body">
                            <h5 class="card-title">{{this.name}}</h5>
                            <p class="card-text">Precio: ${{this.price}}</p>
                        </div>
                    </div>
                {{/each}}
            </div>
        {{else}}
            <p class="mt-4">No hay productos disponibles.</p>
        {{/if}}
    </div>
</body>
</html>